
<a routerLink="agregar" class="btn btn-primary mb-1 mt 1">agregar</a>
<table class="table table-hover"></table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas">
            <td>{{persona.Nombre}}</td>
            <td>{{persona.Apellido}}</td>
            <a routerLink="editar/{{persona.id}}" class="btn btn-primary">Editar</a>
            <button (click)="borrar(persona.id)" class="btn btn-danger ml-1">Borrar</button>
        </tr>

    </tbody>






<!-- <div >
    <form (formGroup)="formularioRegistro">
        Nombre: <input type="text" formControlName="nombreRegistro"/>
        Apellido: <input type="text" formControlName="apellidoRegistro"/>
        Email: <input type="text" formControlName="emailRegistro"/>
        <button type="submit">Registrarse</button>
    </form>
</div>

<div class="container mt-5">
<div class="tablaPrinciapl">
<table mat-table [dataSource]="estudiantes" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef appMiDirectiva> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef appMiDirectiva> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef appMiDirectiva> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef appMiDirectiva> Correo electrónico </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef appMiDirectiva>Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
</div> -->